
xterm*faceName: Source Code Pro
xterm*faceSize: 11
xterm*vt100*geometry: 90x50
xterm*saveLines: 10000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*allowBoldFonts: false

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true


! special
xterm*.foreground:   #bbbbbb
xterm*.background:   #121212
xterm*.cursorColor:  #bbbbbb

! black
xterm*.color0:       #121212
xterm*.color8:       #555555

! red
xterm*.color1:       #fa2573
xterm*.color9:       #f6669d

! green
xterm*.color2:       #98e123
xterm*.color10:      #b1e05f

! yellow
xterm*.color3:       #dfd460
xterm*.color11:      #fff26d

! blue
xterm*.color4:       #1080d0
xterm*.color12:      #00afff

! magenta
xterm*.color5:       #8700ff
xterm*.color13:      #af87ff

! cyan
xterm*.color6:       #43a8d0
xterm*.color14:      #51ceff

! white
xterm*.color7:       #bbbbbb
xterm*.color15:      #ffffff

! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
! }}}

! More Konsole/Yakuake-like keybindings:
*VT100.Translations: #override \
                    Shift <Key>Up:              scroll-back(1) \n\
                    Shift <Key>Down:            scroll-forw(1) \n\
                    ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
                     Meta Shift Ctrl <Key>V:    insert-selection(PRIMARY) \n\
                    ~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
                     Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
                    ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)

